#special-section {
  img {
    display: block;
    margin: 0 auto;
    padding-top: 50px;
  }
  iframe {
    display: block;
    margin: 0 auto;
    padding-top: 50px;
  }
  h1 {
    text-align: center;
    font-size: 3rem;
    font-family: $latoreg;
    margin-top: 40px;
    @include breakpoint(small only) {
      font-size: 1.5rem;
    }
  }
  hr {
    display: block;
    margin: 0 auto;
    width: 8rem;
    border: 1px solid #000000;
  }

  h4 {
    margin-top: 10px;
  }

  p {
    margin-top: 50px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    @include breakpoint(medium) {
      padding-left: 50px;
      padding-right: 50px;
    }
    @include breakpoint(large) {
      padding-left: 90px;
      padding-right: 90px;
    }
  }

}
