<!-- Footer Section -->

<footer>
<div class="container">
  <div class="row">
    <div class="medium-4 columns">
      <img src="{{root}}assets/img/ftlogo.png" alt="">
    </div>
    <div class="medium-4 columns">
      <h6>Call Us Today</h6>
      <hr>
      <h5>(907) 225 5444</h5>
    </div>
    <div class="medium-4 columns">
      <div class="row">
        <div class="small-12 columns">
          <!-- Email Right Footer -->
          <div class="row">
            <div class="small-2 columns">
              <img src="{{root}}assets/img/email_icon.png" alt="">
            </div>
            <div class="small-10 columns">
              <p>info@islandtileandmarble.com</p>
            </div>
          </div>
          <!-- Address Right Footer -->
          <div class="row">
            <div class="small-2 columns">
              <img src="{{root}}assets/img/location_icon.png" alt="">
            </div>
            <div class="small-10 columns">
              <p>2555 1st Ave. Ketchikan AK.</p>
            </div>
          </div>
          <!-- Social Right Footer -->
          <div class="row">
            <div class="small-2 columns">
              <img src="{{root}}assets/img/fb_icon.png" alt="">
            </div>
            <div class="small-10 columns">
              <a href="https://www.facebook.com/ISLANDTILEANDMARBLE/" target="_blank"><p>Follow Us On Facebook!</p></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</footer>

<!-- NCDEsign Section -->
<section id="lower-footer-section">
  <div class="container">
    <div class="row">
      <div class="small-12 columns">
        <p>All Rights Reserved © Copyright 2017 Island Tile &amp; Marble | Handmade in Alaska | Powered by North Creative Design Co. | Version 1.2</p>
      </div>
    </div>
  </div>
</section>
