<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="example-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
    <a href="{{root}}index.html"><div class="navbar-brand"></div></a>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown  vertical medium-horizontal menu" data-dropdown-menu>
      <li><a href="{{root}}about.html">About</a></li>
      <li><a href="{{root}}specials.html">Specials</a></li>
      <li><a href="{{root}}services.html">Services</a></li>
      <li>
        <a href="#">Products</a>
        <ul class="menu vertical dropmenu">
          <li><a href="{{root}}products_tile.html">Tile</a></li>
          <li><a href="{{root}}products_hardwood.html">Hardwood</a></li>
          <li><a href="{{root}}products_vinyl.html">Vinyl</a></li>
          <li><a href="{{root}}products_laminate.html">Laminate</a></li>
          <li><a href="{{root}}blinds.html">Blinds</a></li>
          <li><a href="{{root}}countertops.html">Countertops</a></li>
        </ul>
      </li>
      <li><a href="{{root}}gallery.html">Gallery</a></li>
      <li><a class="endnav" href="{{root}}contact.html">Contact</a></li>
    </ul>
  </div>
</div>
